.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 30px;
}
.pagination button{
  background-color: white;
  margin: 6px;
  padding: 5px 10px;
  border: 1px solid orange;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.pagination button:hover{
  background-color: orange;
}
.pagination .selected{
  background-color: orange;
  color: white;
}

.cart-order-summary {
  background-color: rgba(255, 153, 0, 0.3);
}
.preview-btn {
  padding: 10px 20px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and(max-width: 1100px) {
  .product-container{
    grid-template-columns: repeat(2,1fr);
  }
  
}